*{
    font-family: tahoma;
}

.name{
    border-radius: 10px;
    background-image: url("image/About/a1.png");
    background-size: cover;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 8%;
    font-style: italic;
    font-size: 50pt;
    padding: 5%;
    background-position: center;
}
.name2{
    border-radius: 10px;
    background-image: url("image/About/a1.png");
    background-size: cover;
    text-align: center;
    padding-right: 15px;
    margin: 8% auto;
    font-style: italic;
    font-size: 40pt;
    background-position: center;
    max-width: 450px;
}
.name3{
    float: left;
    width: 90px; 
    height: 90px; 
    border-radius: 50%;
    padding: 5px 5px;
    margin-left: 15px;
}
.layout1{
    margin-bottom: 5%;
}
.layout2{
    margin: auto;
    text-align: center;  
}
.layout3{
    margin: 10px 15px;
}
.layout4{
    border-radius: 50px; 
    padding: 3% 0%; 
    margin: auto;
    width: 100%;
}
.layout5{
    border-radius: 10px;
    background-image: url("image/About/a0.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: auto; 
    margin-top: 5%;
    font-style: italic;
    width: 60%;
    max-height: 200px;
}
.layout6{
    border-radius: 50px; 
    padding:auto; 
    margin: auto;
    width: 90%;
    height: min-content;
}

.layout7{
    border-radius: 50px; 
    padding:5%; 
    margin: auto;
    max-width: 370px;
    max-height: 370px;
}
.background-about{
    background-color:rgba(240, 238, 232, 0.73)
    ;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
	#first {
		order: 2;
	}
	#second {
		order: 1;
	}
	#third {
		order: 3;
	}

}

/* ---------------------------------------------------------------------------------------------- */


*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

@media all and (max-width: 480px) {
}
 
@media all and (max-width: 1024px) {
} 


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

.container1 {
  width: 100%;
  margin: 0 auto;
}

.header-top_search {
  display: flex;
  margin-left: 500px;
}

.header-top_search_input {
  text-align: left;
  width: 280px;
  height: 36px;
  padding: 0px 0px 0px 20px; 
  border: 0;
}

.header-top_search_icon {
  font-size: 20px;
  background-color:white;
  padding:6px 10px; 
  border: 0;
}

.header-top_icon {
  display: flex;
  font-size: 40px;
  margin: 15px 180px 0px 0px;
}

.header-top {
  background: rgba(240, 238, 232, 0.73);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 0px rgb(0 0 0 / 20%);
}

.header-top__logo {
   /* width: 250px;*/
  height: 75px;   
  display: block;
}

.header-top__contact {
  display: flex;
}

.header-bottom {
  align-items: center;
  display: flex;
  background: rgba(240, 238, 232, 0.73);
}
.category {
  width: 150px;
  height: 50px;
  background: rgba(240, 238, 232, 0.73);  
}

.menu {
  flex: 1;
  height: 75px;
  margin-left: 400px;
  margin-right: 150pX;
}
/* ----------------------------------------------------------------- */
.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;
  cursor: pointer;
}

.nav li:hover {
  background-color: #ffffff;
  box-shadow: 5px 0 10px #999999;
  color: #8b0029;
}

/* ------------------------------------------------------------------------------ */
.background {
  background-image: url("image/b5.png");
  height: 500px;
  width: 100%;
}

/* -------------------------------------------------------------------------------- */

.footer {
    height: 400px;
    background: #323232;
    border-top: 3px solid #8b0029;
  }
  
  .footer-top {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-top__input {
    padding: 0px 0px 0px 20px; 
    display: flex;
    /* align-items: center; */
    width: 400px;
    height: 36px;
    background-color: #000;
    color: #ffffff;
    outline: 0;
    border: 0;
  }
  
  .footer-top__text {
    color: #fff;
  }
  
  .footer-top__subscribe {
    color: #fff;
    font-size: 14px;
    width: 350px;
    margin-left: 100px;
  }
  
  .footer-bottom {
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  .footer-bottom__logo {
    width: 200px;
    height: 100px;
  }
  
  .footer-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .footer-bottom__address {
    margin-top: 20px;
  }
  .address-text {
    color: #fff;
    font-weight: 600;
  }
  
  .footer-bottom__information-text {
    margin-bottom: 40px;
    color: #fff;
  }
  
  .footer-bottom__main {
    margin-left: 150px;
  }
  
  .footer-bottom__main a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-left: 0px;
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  .slider {
      width: 100px;
      height: 100px;
       /* margin-left: 50px */
    margin: 15px 0px 0px 180px;
      -webkit-perspective: 300px;
              perspective: 300px;
  }
  
      .slider * {
          -webkit-transition: all 1s cubic-bezier(0.5, -0.75, 0.2, 1.5);
                  transition: all 1s cubic-bezier(0.5, -0.75, 0.2, 1.5);
      }
  
      .slidercontainer {
          width: inherit;
          height: inherit;
          -webkit-transform-style: preserve-3d;
                  transform-style: preserve-3d;
          -webkit-transform: rotateY(0deg) rotateX(0deg);
                  transform: rotateY(0deg) rotateX(0deg);
  
          -webkit-animation: rotate 25s infinite cubic-bezier(1, -0.75, 0.5, 1.2);
                  animation: rotate 25s infinite cubic-bezier(1, -0.75, 0.5, 1.2);	
      }
  
          .slide, .slide:after, .slide:before {
              display: block;
              width: inherit;
              height: inherit;
              background: url('image/b6.jpg');
              position: absolute;
              -webkit-transform-style: preserve-3d;
                      transform-style: preserve-3d;
              background-size: cover;
              background-position: center;
          }
  
          .slide.x {
            -webkit-transform: rotateY(90deg);
                    transform: rotateY(90deg);
          } 
  
              .slide.x:after {
                  content: '';
                  background-image: url('image/l81.png');
                  -webkit-transform: translateZ(50px) rotateZ(-90deg);
                          transform: translateZ(50px) rotateZ(-90deg);
              }
  
              .slide.x:before {
                  content: '';
                  background-image: url('image/l31.png');
                  -webkit-transform: translateZ(-50px) rotateZ(-90deg);
                          transform: translateZ(-50px) rotateZ(-90deg);
              }
  
          .slide.y {
            -webkit-transform: rotateX(90deg);
                    transform: rotateX(90deg);
          } 
  
              .slide.y:after {
                  content: '';
                  background-image: url('image/l6.png');
                  -webkit-transform: translateZ(50px) scale(-1);
                          transform: translateZ(50px) scale(-1);
              }
  
              .slide.y:before {
                  content: '';
                  background-image: url('image/l6.png');
                  -webkit-transform: translateZ(-50px);
                          transform: translateZ(-50px);
              }
  
          .slide.z {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
          } 
  
              .slide.z:after {
                  content: '';
                  background-image: url('image/l8.png');
                  -webkit-transform: translateZ(50px);
                          transform: translateZ(50px);
              }
  
              .slide.z:before {
                  content: '';
                  background-image: url('image/l31.png');
                  -webkit-transform: translateZ(-50px);
                          transform: translateZ(-50px);
              }
  
  
          @keyframes rotate {
              0%, 10% {-webkit-transform: rotateY(0deg) rotateX(0deg);transform: rotateY(0deg) rotateX(0deg);}
              40%, 50% {-webkit-transform: rotateY(180deg) rotateX(90deg);transform: rotateY(180deg) rotateX(90deg);}
              70%, 80% {-webkit-transform: rotateY(90deg) rotateX(90deg);transform: rotateY(90deg) rotateX(90deg);}
          }
  
  .shadow {
      display: block;
      width: 100px;
      height: 100px;
      background: rgba(0,0,0,0.75);
      position: absolute;
      top: 60%;
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
      z-index: -1;
      -webkit-filter: blur(10px);
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="20" /></filter></svg>#filter');
      -webkit-filter: blur(10px);
              filter: blur(10px);
      left: 0;
      right: 0;
      margin: auto;
      -webkit-animation: rotateShadow 25s infinite cubic-bezier(1, -0.75, 0.5, 1.2);
      animation: rotateShadow 25s infinite cubic-bezier(1, -0.75, 0.5, 1.2);
  }
  
      @keyframes rotateShadow {
          0%, 10% {-webkit-transform: rotateY(0deg) rotateX(90deg);}	
          40%, 50% {-webkit-transform: rotateY(180deg) rotateX(90deg);}
          70%, 80% {-webkit-transform: rotateY(180deg) rotateX(90deg);}
      }